/* header styles */

.header {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 10px 0;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

/* Footer */

.section__padding{
  padding:2rem 4rem;
}

.footer{
  background-color: blueviolet;
}

.sb__footer{
  display: flex;
  flex-direction: column;
}

.sb__footer-links{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  align-items: start;
}
  

.sb__footer-links-div{
width:150px;
margin:1rem;
display: flex;
justify-content: flex-start;
flex-direction: column;
color:white;
}

a{
  color:rgb(175,175,179);
  text-decoration:none;
}

.socialMedia{
  display: flex;
  flex-direction: row ;
}

.sb__footer-links-div h4{
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
}

.sb__footer-links-div p{
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0.5rem 0;
  cursor: pointer;
}

.sb__footer-below{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:0.2rem;
}

.sb__footer-below-links p{
  font-size: 13px;
  line-height: 15px;
  margin-left: 2rem;
  color:white;
  font-weight: 600;
}


hr{
  color:white !important;
  width:100%;
}

.sb__footer-copyright{
  font-size: 13px;
  line-height: 15px;
  color:rgb(255,255,255);
  font-weight: 600

}
/* Home Page */

.home {
  display: flex;
}

.filters {
  background-color: blueviolet;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 50%;
}

.filters > span {
  padding-bottom: 20px;
}

.title {
  font-size: 30px;
}

.productContainer {
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.products {
  width: 30%;
  margin: 10px;
}
.productButton{
  background-color: blueviolet !important;
}

.summary {
  width: 30%;
}

/* Media Queries */
@media (max-width: 771px) {
  .filters {
    width: 40%;
    padding: 10px;
    margin: 5px;
  }

  .filters > span {
    font-size: 10px;
  }

  .title {
    font-size: 18px !important;
  }

  .productContainer {
    width: 58%;
    padding: 0;
  }

  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}
